.italic {
    font-style: italic;
}

#email, #password {
    text-align: center;
}

#login-btn, #login-btn{
   width: 100%;
}

#login-form > form > * {
    width: 100%;
}

#anchor-register {
    text-align: center;
    margin: 0 auto;

}

#bad-login-msg {
    color: #ff2725;
}

.card-image img {
    height: 135px;
}

.card {
    height: 235px;
}

.card-title {
    text-transform: capitalize;
    background-color: #5b5252;
    width: 100%;
    opacity: 0.6;
    height: 100%;
}

#add-project-btn,
#add-group-btn {
    position: fixed;
    bottom: 2%;
    right: 0px;
    margin-right: 2%;
}


.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

.register-container {
    margin-top: 2%;
    width: 50%;
}

#search-icon {
    margin-top: 35%;
    cursor: pointer;
}

#searched-member {
    display: none;
}

#add-del-btn {
    cursor: pointer;
}

#register-submit-btn, #create-project-btn {
    width: 100%;
    height: 4em;
    margin-top: 4%;
}

.validate {
    text-align: center;
}

.anchor-project-des {
    color: black;
}

#project-card-update-screen {
    margin-top: 2.5%;
    height: 30em;
    padding-bottom: 70%;
}

#project-card-update-screen > .card-image,
#project-card-update-screen > .card-image > img {
    height: 20em;
}