{{>header}}
{{#logged}}
<form action="/publication/create/submit" method="post">
    <div class="row">
        <div class="col s10 m8 l10 offset-s1 offset-m2 offset-l1">
            <div class="card-panel">
                <input id="post_title" type="text" class="validate" placeholder="Título de la publicación"
                       name="post_title"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m8 l10 offset-s1 offset-m2 offset-l1">
            <div class="card-panel">
                <textarea name="post_message" id="froala_editor"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m8 l10 offset-s1 offset-m2 offset-l1">
            <div class="card-panel">
                <input type="submit" class="btn waves-effect waves-light">
            </div>
        </div>
    </div>
</form>
{{/logged}}
{{>footer}}