{{>header}}
{{#logged}}
<div class="container" id="register-container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <h1 class="center-align">Nuevo proyecto</h1>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project_name" placeholder="Nombre del proyecto"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <textarea id="description" class="materialize-textarea"></textarea>
                    <label for="description">Descripción</label>
                </div>
            </div>
            <div class="row">
                <label for="numero_grupos">Número de grupos</label>
                <p class="range-field">
                    <input type="range" id="numero_grupos" min="0" max="12" value="1"/>
                </p>
            </div>
            <div class="row">
                <label for="numero_miembros">Número de miembros</label>
                <p class="range-field">
                    <input type="range" id="numero_miembros" min="0" max="120" value="20"/>
                </p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project_image" placeholder="Enlace imagen del proyecto"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project_website" type="text" placeholder="Pagina web del proyecto"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="facebook_site" type="text" placeholder="Página de facebook del proyecto"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="twitter_site" type="text" placeholder="Enlace perfil de Twitter del proyecto"/>
                </div>
            </div>
            <div class="row"><div class="col s12">
                    <button class="btn waves-effect yellow darken-4" type="submit" name="action"
                            id="create-project-btn">Crear proyecto
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/logged}}
{{>footer}}