<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">The Sharen Project</h5>
                <p class="grey-text text-lighten-4">Sharen is the product of a web developer idea for easing
                    networking.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Sitemap</h5>
                <ul>
                    <li><a class="white-text" href="#!">Inicio</a></li>
                    <li><a class="white-text" href="#!">Proyectos</a></li>
                    <li><a class="white-text" href="#!">Mi cuenta</a></li>
                    <li><a class="white-text" href="#!">Configuración</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li><a href="http://wwww.facebook.com"><img src="/img/fb_box.png" alt="fb_box"/></a></li>
                    <li><img src="/img/tw_box.png" alt="twitter"></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyrigth 2017 - All rights reserved, <a class="orange-text text-lighten-3"
                                                    href="http://www.juliomaroto.com">Sharen LTD</a>
        </div>
    </div>
</footer>
</body>
</html>