{{>header}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Tus ideas, tu mundo</h1>
        <div class="row center">
            <h5 class="header col s12 light">Conoce ideas exitosas de otras personas y participa en su desarrollo</h5>
        </div>
        <div class="row center">
            <a href="/projects" id="download-button" class="btn-large waves-effect waves-light orange">Ver más</a>
        </div>
        <br><br>

    </div>
</div>
{{#projects}}
    <p>{{@value}}</p>
{{/projects}}
{{>footer}}