<div class="section"></div>
<main>
    <center>
        <div class="section"></div>

        <h5 class="indigo-text">Por favor, acceda a su cuenta</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' placeholder="correo electrónico" type='email' name='email' id='email_login2' />
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' placeholder="contraseña" type='password' name='password' id='password_login2' />
                        </div>
                        <label style='float: right;'>
                            <a class='pink-text' href='#!'><b>¿Has olvidado tu contraseña?</b></a>
                        </label>
                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large orange accent-2' id="submit-login-btn">Entrar</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <a href="/register">Registrarse</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
