{{>header}}
{{#logged}}
<a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" id="add-project-btn" data-delay="50" data-tooltip="Nuevo proyecto">
    <i class="material-icons">add</i>
</a>
{{#projects}}
<div class="section no-pad-bot">
    <div class="container">
        <div class="row">
            {{#.}}
            <div class="col s12 m6 l3">
                <div class="card">
                    <a href="/projects/update/{{id}}">
                        <div class="card-image">
                            <img src="{{imagePathName}}">
                            <span class="card-title">{{projectName}}</span>
                        </div>
                    </a>
                    <div class="card-content">
                        <p><a href="/projects/update/{{id}}" class="anchor-project-des">{{description}}</a></p>
                    </div>
                </div>
            </div>
            {{/.}}
        </div>
    </div>
</div>
{{/projects}}
<div class="row">
    <div class="container center-align">
        <div class="col s12 m12 l12">
            <a class="waves-effect waves-light btn-large" id="watch-more-btn">Ver más<i
                    class="material-icons left">more</i></a>
        </div>
    </div>
</div>
{{/logged}}
{{^logged}}
{{>login}}
{{/logged}}
{{>footer}}