{{>header}}
{{#logged}}
<div class="row">
    <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
        <div class="card-panel">
            <h2>{{#group}}{{name}}{{/group}}</h2>
            <p>{{#group}}{{description}}{{/group}}</p>
            <input type="hidden" value="{{#group}}{{id}}{{/group}}" id="group-id">
        </div>
    </div>
</div>
<div class="row">
    <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
        <div class="card-panel">
                <span class="blue-text text-darken-2">
                    <h2>Posts</h2>
                </span>
            <div class="row left-align">
                <a href="/publication/create" class=" btn-large waves-effect waves-light teal lighten-2">Nuevo artículo</a>
            </div>
            <div class="collection">
                {{#group}}
                {{#publications}}
                <a href="/publication/{{id}}" class="collection-item">{{title}}</a>
                {{/publications}}
                <ul class="pagination center-align">
                    <li class="disabled"><a href="#!" id="prev_group_post"><i
                            class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect"><a href="#!" id="next_group_post"><i
                            class="material-icons">chevron_right</i></a></li>
                </ul>
                {{/group}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
        <div class="card-panel">
                <span class="blue-text text-darken-2">
                    <h2>Miembros</h2>
                </span>
            <div class="row left-align">
                <a class=" btn-large waves-effect waves-light teal lighten-2"
                   href="#modal2">Agregar miembro</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="container" class="register-container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <h4 class="center-align">Buscar miembro</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10">
                            <input id="search" placeholder="nickname">
                        </div>
                        <div class="col s2">
                            <i class="material-icons" id="search-icon">search</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10">
                            <div class="collection" id="searched-member">
                                <div class="collection-item">
                                    <span class="new badge" data-badge-caption="custom caption" id="add-del-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/logged}}
{{>footer}}