{{>header}}
{{#logged}}
<div class="row">
    <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
        <div class="card-panel">
            <h3>{{#publication}}{{title}}{{/publication}}</h3>
            <input type="hidden" value="{{#publication}}{{id}}{{/publication}}" id="publication-id">
        </div>
    </div>
</div>
<div class="row">
    <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
        <div class="card-panel">
            {{#publication}}
            {{{message}}}
            {{/publication}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
        <div class="card-panel" id="comments-container">
        </div>
    </div>
</div>
{{/logged}}
{{>footer}}