{{>header}}
   <div class="container" id="register-container">
       <div class="row">
           <form class="col s12">
               <div class="row">
                   <div class="input-field col s12">
                       <h1 class="center-align">Registro</h1>
                   </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                       <input id="email_register" type="email" class="validate"/>
                       <label for="email_register">Email</label>
                   </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                       <input id="name_register" type="text" class="validate"/>
                       <label for="name_register">Nombre</label>
                   </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                       <input id="password_register" type="password" class="validate"/>
                       <label for="password_register">Contraseña</label>
                   </div>
               </div>
               <div class="row">
                   <div class="col s12">
                       <button class="btn waves-effect yellow darken-4" type="submit" name="action" id="register-submit-btn">Enviar
                       </button>
                   </div>
               </div>
           </form>
       </div>
   </div>
   </div>
{{>footer}}
