{{>header}}
{{#logged}}
<div class="row">
    <div class="row">
        <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
            <div class="card" id="project-card-update-screen">
                <div class="card-image">
                    <img src="{{#project}}{{imagePathName}}{{/project}}">
                </div>
                <div class="card-content">
                    <h4>
                        {{#project}}
                        {{projectName}}
                        {{/project}}
                    </h4>
                    <p>
                        {{#project}}
                        {{description}}
                        <input type="hidden" value="{{id}}" id="project-id">
                        {{/project}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
            <div class="card-panel">
                <span class="blue-text text-darken-2">
                    <h2>Grupos</h2>
                <div class="row left-align">
                    <a href="#modal1" class=" btn-large waves-effect waves-light teal lighten-2 modal-trigger">Crear grupo</a>
                </div>
                </span>
                <ul class="collapsible" data-collapsible="accordion">
                    {{#project}}
                    {{#groups}}
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">group</i>
                            {{name}}
                        </div>
                        <div class="collapsible-body">
                            <p>{{description}}</p>
                            <a href="/group/{{id}}" class="waves-effect waves-light btn" id="admin-group-btn">Ver más<i
                                    class="material-icons left">more</i></a>
                        </div>
                    </li>
                    {{/groups}}
                    {{/project}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
            <div class="card-panel">
                <span class="blue-text text-darken-2">
                    <h2>Posts</h2>
                </span>
                <div class="row left-align">
                    <a class=" btn-large waves-effect waves-light teal lighten-2"
                       href="/publication/create/?project={{#project}}{{id}}{{/project}}">Nuevo artículo</a>
                </div>
                <div class="collection">
                    {{#project}}
                    {{#publications}}
                    <a href="/publication/{{id}}" class="collection-item">{{title}}</a>
                    {{/publications}}
                    <ul class="pagination center-align">
                        <li class="disabled" id="prev_project_post"><a href="#!"><i
                                class="material-icons">chevron_left</i></a></li>
                        <li class="waves-effect" id="next_project_post"><a href="#!"><i class="material-icons">chevron_right</i></a>
                        </li>
                    </ul>
                    {{/project}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
            <div class="card-panel">
                <span class="blue-text text-darken-2">
                    <h2>Miembros</h2>
                </span>
                <div class="row left-align">
                    <a class=" btn-large waves-effect waves-light teal lighten-2"
                       href="#modal2">Agregar miembro</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="container" class="register-container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <h4 class="center-align">Nuevo grupo</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="group_name" placeholder="Nombre del grupo"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <textarea id="group_description" class="materialize-textarea"></textarea>
                            <label for="group_description">Descripción</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="create-group-submit-btn">Aceptar</a>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="container" class="register-container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <h4 class="center-align">Buscar miembro</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10">
                            <input id="search" placeholder="nickname">
                        </div>
                        <div class="col s2">
                            <i class="material-icons" id="search-icon">search</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10">
                            <div class="collection" id="searched-member">
                                <div class="collection-item">
                                    <span class="new badge" data-badge-caption="custom caption" id="add-del-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/logged}}
{{>footer}}